@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300&display=swap');

body {
	font-family: "Martel Sans";
	font-style: normal;
	text-align: center;
	color: #046865;
}

@media screen and (max-width: 700px) {
	.title {
		display: none;
	}
}

/* Content */
input [type=text] {
	border: 3px solid #046865;
	border-radius: 4px;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

input [type=text]:focus {
	border: 3px solid #21A0A0;
}
	
/* Footer */
footer {
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%, -50%);
}
