@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300&display=swap');

body {
	font-family: "Martel Sans";
	font-style: normal;
	text-align: center;
	color: #046865;
	background: white;
}

/* Content */
.fuckingfuck {
	border: 2px solid #046865;
	border-radius: 4px;
	background: whitesmoke;
	width: 80%;
	padding: 2px 4px;
	margin: 4px 0;
	box-sizing: border-box;
}

.fuckingfuck:focus {
	outline: none;
	border: 3px solid #21A0A0;
	border-radius: 6px
}

.button {
	background-color: #21A0A0;
	border: 2px solid #046865;
	border-radius: 4px;
	width: 82%;
	color: white;
	padding: 8px 16px;
	margin: 4px 2px;
}

.container {
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
}

.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	border: 2px solid #046865;
	border-radius: 4px;
	position: absolute;
	height: 25px;
	width: 25px;
	background-color: white;
	margin-left: 10px;
}

.container:hover input ~ .checkmark {
	background-color: whitesmoke;
}

.container input:checked ~ .checkmark {
	background-color: #21A0A0;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.container input:checked ~ .checkmark:after {
	display: block;
}

.container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
} 

/* Footer */
footer {
	position: absolute;
	font-size: 80%;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%, -50%);
}
